body {
    background: url('../blog_bg.jpeg');
}

#container {
    margin: 0 1rem;
}

@media screen and (min-width: 768px) {
    #container {
        margin: 0 20vw;
    }
}

.post {
    background: rgba(255, 255, 255, 0.08); color: #fff;
    backdrop-filter: blur(20px);
    padding: 0 3rem; margin: 1rem 0;
    border-radius: 20px; font-weight: bold; cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.post:hover { transform: scale(1.05); }
.post > * { padding: 0.5rem 0 }
.author { display: flex; align-items: center; }
.title { font-size: 22px; padding-bottom: 1em; }